@import "@css/style";
@import "@css/themeColor";

.arrowBox {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    span {
        font-size: 14px;
        line-height: 20px;
        padding-right: 8px;
    }
    img{
        width: 9px;
        height: 14px;
    }
}