@import "@css/style";
@import "@css/themeColor";

.outBox{
    padding-top:24px;
}
.bgBox {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 248px;
    height: 253px;
    margin: auto;
    // margin-top: 12px;
    // margin-bottom: 28px;
    display: flex;
    // gap: 12px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    z-index: 6;

    .icon_left,.icon_right{
        img {
            width: 13px;
        }
    }
    .icon_left{
       margin-left: 40px;    
    }
    .icon_right{
        margin-right: 40px;    
    }

    .title {
        // font-size: 44px;
        // line-height: 62px;
        position: absolute;
        right: 60px;
        top:100px;
        max-width: 190px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        em {
            font-style: normal;
            font-size: 14px;
            color: #fff;
            vertical-align: text-bottom;
        }
    }

    .subtitle {
        font-size: 13px;
        line-height: 18px;
        // padding-top: 12px;
        display: flex;
        span{
            max-width: 150px;
            margin-right: 3px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &.offBox {
        flex-direction: column;
        justify-content: center;
        position: static;
        margin-top: 24px;
        transform:none;
        height: 289PX;
        .title{
            font-size: 44px;
            position: static;
        }
    }
}

.bgBox.offBox {
    background-image: url('../../../img/off.svg');
}

.progressbar{
    width: 289PX;
    height: 289PX;
    margin: 0 auto;
    position: relative;
    svg{
        width: 100%;
    }
}
.CircleSlider {
    width: 224PX;
    height: 224PX;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -112PX;
    margin-left: -112PX;
    z-index: 1;
    .circleBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;

        img {
            width: 100%;
        }
    }
}

._hp_hotwater_temp{
    position: absolute;
    top: 165px;
    font-size: 13px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    span{
        max-width: 130px;
        margin-right: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}