$txt-color: #111111;
$txt-gray: #A0A3B1;
$border-color: #E7E9F0;
$cancel-color: #C4C4C4;
$button-off: #E5E7EE;

$theme-color-warm:#FFA41F;
$theme-color-cold:#1696FF;
$btn-color:#256BBD;

$pageBg: #fff;

$popupBg: #fff;

$headBg: linear-gradient(313.74deg, #4FACFE 1.86%, #00F2FE 95.15%),
#1FAEFF;