/** dna sliderLight**/
.dna_sliderLight {
  text-align: center;
  overflow: hidden;
  padding: 30px 0 20px;
  min-height: 8px;
}

.dna_sliderLight .slider.slider-horizontal {
  height: 16px;
  width: 85%;
}

.dna_sliderLight .slider.slider-horizontal .slider-track {
  /* height:8.6px; */
  border-radius: 13px;
  background-image: -webkit-linear-gradient(top, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  background-image: -o-linear-gradient(top, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  background-image: linear-gradient(to bottom, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  margin-top: -3px;
  width: 100%;

}

.dna_sliderLight .slider-handle {
  width: 22.5px;
  height: 22.5px;
  background: #fff;
  webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
}

.dna_sliderLight .slider-selection {
  border-radius: 30px;
}

.dna_sliderLight .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  font-size: 14px;
  color: rgb(85, 85, 85);
}

.dna_sliderLight .tooltip.top {
  margin-top: -28.5px;
}

.dna_sliderLight .slider.slider-horizontal .slider-tick {
  margin-left: 0;
}

.dna_sliderLight .slider.slider-horizontal .slider-handle {
  margin-left: -11.25px;
  margin-top: -6px;
}

.dna_sliderLight .tooltip.top .tooltip-arrow,
.sliderLight .tooltip-arrow {
  display: none;
}

.dna_sliderLight .slider-tick {
  width: 6px;
  height: 6px;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff 0, #fff);
  opacity: 1;
  top: 6px;
}

/*增加slider可点击区域*/
.dna_sliderLight .slider {
  margin-bottom: 30px !important;
  margin-right: 10px;
}


.dna_sliderLight.colorTemp .slider.slider-horizontal .slider-track {
  background-image: -webkit-linear-gradient(left, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
  background-image: -o-linear-gradient(right, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
  background-image: linear-gradient(to right, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
}

.dna_sliderLight.colorTemp .slider-handle {
  background: rgb(234, 248, 253);
  border: 2px solid rgb(234, 248, 253) !important;
}

.dna_sliderLight.colorTemp .slider-selection {
  background: none;
}

.dna_sliderLight .slider.slider-horizontal .slider-tick-label-container {
  margin-top: 20px;
}

.dna_sliderLight.Whiting .slider-tick-label-container .slider-tick-label {
  color: #fff !important;
}

.dna_sliderLight.Whiting .tooltip-inner {
  color: #fff !important;
}

.dna_sliderLight.Whiting .slider.slider-horizontal .slider-track {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.dna_sliderLight.Whiting .slider-selection.tick-slider-selection {
  /*background-image: linear-gradient(to bottom, transparent 0%, transparent 100%);*/
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%) !important;

}

.dna_sliderLight.Whiting .slider-handle {
  border-color: #fff !important;
}

/*disabled css*/
.dna_sliderLight.disabled .slider-selection.tick-slider-selection {
  background-image: linear-gradient(to bottom, transparent 0%, transparent 100%) !important;
}

.dna_sliderLight.disabled .slider-handle {
  border-color: #e1e1e1 !important;
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);
}




/** jd sliderLight**/
.jd_sliderLight {
  /* padding: 0.7875rem; */
  text-align: center;
  overflow: hidden;
}

.jd_sliderLight .slider.slider-horizontal {
  width: 52.5vw;
  height: 11.1vw;
}

.jd_sliderLight .slider.slider-horizontal .slider-track {
  height: 2px;
  border-radius: 13px;
  background-image: -webkit-linear-gradient(top, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  background-image: -o-linear-gradient(top, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  background-image: linear-gradient(to bottom, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  margin-top: -1.5px;
  width: 100%;

}

.jd_sliderLight .slider.slider-horizontal .slider-tick-container {
  top: 15px
}

.jd_sliderLight .slider-handle {
  width: 27px;
  height: 27px;
  background: #fff;
  webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
}

.jd_sliderLight .slider-selection {
  border-radius: 30px;
}

.jd_sliderLight .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  font-size: 8.5px;
  color: #999;
}

.jd_sliderLight .tooltip.top {
  margin-top: -28.5px;
}

.jd_sliderLight .slider.slider-horizontal .slider-tick {
  margin-left: 0;
}

.jd_sliderLight .slider.slider-horizontal .slider-handle {
  margin-left: -11.25px;
  margin-top: -15px;
  top: 50%;
}

.jd_sliderLight .tooltip.top .tooltip-arrow,
.jd_sliderLight .tooltip-arrow {
  display: none;
}

.jd_sliderLight .slider-tick {
  width: 6px;
  height: 6px;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff 0, #fff);
  opacity: 1;
  margin-top: -3.75px;
  top: 50%;

}

/*增加slider可点击区域*/
.jd_sliderLight .slider {
  margin-bottom: 0 !important;
  /*margin-left:10px;*/
  /* margin-right: 10px; */
}


.jd_sliderLight.colorTemp .slider.slider-horizontal .slider-track {
  background-image: -webkit-linear-gradient(left, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
  background-image: -o-linear-gradient(right, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
  background-image: linear-gradient(to right, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
}

.jd_sliderLight.colorTemp .slider-handle {
  background: rgb(234, 248, 253);
  border: 2px solid rgb(234, 248, 253) !important;
}

.jd_sliderLight.colorTemp .slider-selection {
  background: none;
}

.jd_sliderLight .slider.slider-horizontal .slider-tick-label-container {
  margin-top: 9.1vw;
}

.jd_sliderLight.Whiting .slider-tick-label-container .slider-tick-label {
  color: #fff !important;
}

.jd_sliderLight.Whiting .tooltip-inner {
  color: #fff;
}

.jd_sliderLight.Whiting .slider.slider-horizontal .slider-track {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.jd_sliderLight.Whiting .slider-selection.tick-slider-selection {
  /*background-image: linear-gradient(to bottom, transparent 0%, transparent 100%);*/
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%) !important;

}

.jd_sliderLight.Whiting .slider-handle {
  border-color: #FF5349 !important;
}

/*.jd_sliderLight .slider .tooltip-inner{*/
/*display: none;*/
/*}*/
.jd_sliderLight .slider-selection.tick-slider-selection {
  background: #E7E9F0;
}

/*disabled css*/
.jd_sliderLight.disabled .slider-selection.tick-slider-selection {
  background: #C8C8C8 !important;
}

.jd_sliderLight.disabled .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  color: #C8C8C8 !important;
}

.jd_sliderLight.disabled .slider-track-high {
  background: #C8C8C8 !important;
}

.jd_sliderLight.disabled .slider-tick {
  background: #C8C8C8 !important;
}

.jd_sliderLight.disabled .slider-handle {
  border-color: #C8C8C8 !important;
  background: rgba(244, 244, 244, 1);
}



/** gome sliderLight**/
.gome_sliderLight {
  text-align: center;
  overflow: hidden;
  padding: 30px 0 20px;
  min-height: 8px;
}

.gome_sliderLight .slider.slider-horizontal {
  height: 16px;
  width: 307.5px;
}

.gome_sliderLight .slider.slider-horizontal .slider-track {
  height: 9.375px;
  border-radius: 13px;
  background-image: -webkit-linear-gradient(top, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  background-image: -o-linear-gradient(top, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  background-image: linear-gradient(to bottom, rgb(225, 225, 225) 0%, rgb(225, 225, 225) 100%);
  margin-top: -3px;
  width: 100%;

}

.gome_sliderLight .slider-handle {
  width: 30px;
  height: 30px;
  background: #fff;
  webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .15);
}

.gome_sliderLight .slider-selection {
  border-radius: 30px;
}

.gome_sliderLight .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  font-size: 16.4px;
  color: rgb(85, 85, 85);
}

.gome_sliderLight .tooltip.top {
  margin-top: -28.5px;
}

.gome_sliderLight .slider.slider-horizontal .slider-tick {
  margin-left: 0;
}

.gome_sliderLight .slider.slider-horizontal .slider-handle {
  margin-left: -11px;
  margin-top: -6px;
}

.gome_sliderLight .tooltip.top .tooltip-arrow,
.sliderLight .tooltip-arrow {
  display: none;
}

.gome_sliderLight .slider-tick {
  width: 7.5px;
  height: 7.5px;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff 0, #fff);
  opacity: 1;
  top: 6px;
}

/*增加slider可点击区域*/
.gome_sliderLight .slider {
  margin-bottom: 30px !important;
  margin-left: 10px;
  margin-right: 10px;
}


.gome_sliderLight.colorTemp .slider.slider-horizontal .slider-track {
  background-image: -webkit-linear-gradient(left, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
  background-image: -o-linear-gradient(right, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
  background-image: linear-gradient(to right, rgb(212, 244, 255), rgb(225, 225, 225), rgb(225, 231, 198));
}

.gome_sliderLight.colorTemp .slider-handle {
  background: rgb(234, 248, 253);
  border: 2px solid rgb(234, 248, 253) !important;
}

.gome_sliderLight.colorTemp .slider-selection {
  background: none;
}

.gome_sliderLight .slider.slider-horizontal .slider-tick-label-container {
  margin-top: 30px;
}

.gome_sliderLight.Whiting .slider-tick-label-container .slider-tick-label {
  color: #fff !important;
}

.gome_sliderLight.Whiting .tooltip-inner {
  color: #fff;
}

.gome_sliderLight.Whiting .slider.slider-horizontal .slider-track {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.gome_sliderLight.Whiting .slider-selection.tick-slider-selection {
  /*background-image: linear-gradient(to bottom, transparent 0%, transparent 100%);*/
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%) !important;

}

.gome_sliderLight.Whiting .slider-handle {
  border-color: #fff !important;
}

/*disabled css*/
.gome_sliderLight.disabled .slider-selection.tick-slider-selection {
  background-image: linear-gradient(to bottom, transparent 0%, transparent 100%) !important;
}

.gome_sliderLight.disabled .slider-handle {
  border-color: #e1e1e1 !important;
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);
}